[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fire = {path = "python-fire"}
bleach = ">=3.1.4"
pytest-watch = "==4.*,>=4.2.0"

[dev-packages]
pytest = "*"
twine = "*"
hypothesis = "*"
mock = "*"
python-levenshtein = "*"

[requires]
python_version = "3.8"
