[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bleach = ">=3.1.5"
pytest-watch = "==4.*,>=4.2.0"
tabulate = "==0.*,>=0.8.7"
six = "*"

[dev-packages]
pytest = "*"
twine = "*"
hypothesis = "*"
mock = "*"
python-levenshtein = "*"

[requires]
python_version = "3.7"
